@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-family: "Edu AU VIC WA NT Pre", cursive;
   background-color: aqua;
    width: 100px;

}
form{
    padding:10px;
    margin:10px;

}
label{
    font-weight: 500;
}
input{
    padding: 10px 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline:none;
    font-weight: 500;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    background-color: transparent;
}
input[type = "text"]{
    border: 2px solid burlywood;
    color: burlywood;
}
button[type = "submit"]{
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 5px;
    color:blue;
    cursor:pointer;
    background-image: linear-gradient(blue yellow);
}
button[type = "submit"]:haver{
    background-color: blue;
    color:seagreen;
}
