* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cards {
    border-radius: 5px;
    background-color: white;
    text-align: center;
    padding: 15px 20px;
    box-shadow: rbga(0, 0, 0, 0.24) 0px 3px 8px;
}

.flex {
    display: flex;
    gap: 20px;
    max-width: 1200px;
}