@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-family: "Edu AU VIC WA NT Pre", cursive;
    background-color: blue;
    width: 100px;

}
form{
    padding:10px;
    margin:10px;

}
label{
    font-weight: 500;
}
input{
    padding: 10px 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline:none;
    font-weight: 500;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    background-color: transparent;
}
input[type = "text"]{
    border: 2px solid burlywood;
    color: burlywood;
}
button[type = "submit"]{
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid burlywood;
    border-radius: 5px;
    color:burlywood;
    cursor:pointer;
}
button[type = "submit"]:haver{
    background-color: burlywood;
    color: blue;
}